<app-header></app-header>
<!-- <div class="container">
  <div class="col-xs-12">
    <app-sign-in></app-sign-in>
  </div>
</div>
<br> -->
<div class="containerr">
<div class="col-xs-12">
<router-outlet></router-outlet>
<!-- Global sites tag(gtag.js) - Google Analytics! -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-169396861-1" ></script>
<script>
  window.dataLayer = window.dataLayer || []
  function gtag(){dataLayer.push(arguments)}
  gtag('js', new Date())
  gtag('config', 'UA-169396861-1')
</script>  
</div>
</div>