
 <div class="container">
 <div class="center">
<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Sign Up</mat-card-title>
        <div class="warning">{{errorMessage}}</div>
    </mat-card-header>
    <mat-card-content>
        <form class="example-form" [formGroup]="loginForm">
            <table class="example-full-width" cellspacing="0">
                <tr>
                    <td>
                        <mat-form-field class="example-full-width"> 
                            <input matInput placeholder="Username" id="inputEmail" formControlName="inputEmail" required autofocus>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Password" id="inputPassword" formControlName="inputPassword" type="password" required autofocus>
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Confirm password" type="password" id="inputConfirmPassword"  formControlName= "inputConfirmedPassword" required autof>  
                        </mat-form-field>
                    </td>
                </tr>
            </table>
        </form>
    </mat-card-content>
    <button mat-raised-button color="primary" [class.spinner]="loading" [disabled]="loading" (click)="onSubmitClick($event)">Sign up</button>
</mat-card>
</div>
</div>